.tableau {
  border-collapse: collapse;
}
.falaise {
  background-color: gray;
  width: 32px;
  height: 32px;
}

.route {
  background-color: coral;
  width: 32px;
  height: 32px;
}
.nenuphare {
  background-color: greenyellow;
  width: 32px;
  height: 32px;
}
.eau {
  background-color: aqua;
  width: 32px;
  height: 32px;
}
.berge {
  background-color: green;
  width: 32px;
  height: 32px;
}
.tronc {
  background-color: brown !important;
}

.camion {
  background-color: yellow !important;
}

.sportive {
  background-color: beige !important;
}
