.tableau {
  border-collapse: collapse;
}

td {
  text-align: center;
  width: 32px;
  height: 32px;
}
.falaise {
  background-color: gray;
}

.eau {
  background-color: aqua;
  border-top: 8px aqua solid;
  border-bottom: 8px aqua solid;
}
.route {
  background-color: coral;
  border-top: 8px coral solid;
  border-bottom: 8px coral solid;
}

.nenuphare {
  background-color: greenyellow;
}
.victoire {
  background-color: green;
}
.berge {
  background-color: green;
}
.tronc {
  background-color: brown !important;
}
.camion {
  background-color: yellow !important;
}
.sportive {
  background-color: beige !important;
}
.voiture {
  background-color: blue !important;
}
